includes:
    - ../../vendor/micaherne/phpstan-moodle/extension.neon
parameters:
    level: 5
    moodle:
        rootDirectory: %currentWorkingDirectory%
    bootstrapFiles:
        - %moodle.rootDirectory%/lib/testing/generator/data_generator.php